<ons-page id="invite">

    <style>
        .invite-header{
            color:#fff;
            font-family:"gos";
            font-size:50px;
            margin-top:10vh;
            text-align:center;
        }

        .invite-text{
            color:#fff;
            padding:30px;
            text-align:center;
        }

        .invite-btn{
            background:#fff;
            bottom:10vh;
            border-radius:10px;
            margin:10vw;
            position:absolute;
            padding:15px;
            text-align:center;
            width:calc(80vw - 30px);
        }
    </style>
    <div class="invite-header">Invite A Friend</div>

    <div class="invite-text">We hope you had fun in SquidBank while learning a few to improve your financial literacy, you may send an invite to 3 friends, whom hopefully will share the prize with you.</div>

    <div class="invite-btn" onclick="shareDemo()">Invite A Friend</div>

</ons-page>

