 <ons-page id="first-page">
     <style>
        .email-bg{
            background: #242838;
            height:calc(100vh - 30%);
            position:absolute;
            top:30%;
            width:100vw;
        }
        .content{
            color:white;
            padding:30px;
        }
        .main-button{
            background: radial-gradient(50% 50% at 50% 50%, #6981CD 0%, #5772D2 100%);
            font-size: unset;
            padding: 8px 0;
            text-transform:unset;
            width:100%;
        }

        .btm-box{
            background: #1A417C;
            bottom:0;
            height:calc(20vh - 60px);
            left:0;
            padding:30px;
            position:absolute;
            width:calc(100% - 60px);
        }
     </style>
     <div class="email-bg">

        <div></div>

        <div class="content">
            <h1>Hey Yok Tien,</h1>
            <p>Just a quick note to let you know that your credit card application has been declined.
                <br><br>
However, we are giving you an alternative method to reapply for your credit card again.</p>
        <br><br>
            <ons-button class="main-button" id="push-button" onclick="pushPage('views/2_login.html')">Accept The Challenge</ons-button>

            <div class="btm-box">
                    RHB Bank<br><br>
                    12, Jalan Loke Yew, Kuala Lumpur.
            </div>
        </div>
     </div>
    </ons-page>