<ons-page id="wait-page">

     <style>
         .wait-msg{
            color: #256DFB;
            font-family: "gos";
            font-size: 50px;
            line-height: 70px;
            padding: 30px;
            text-align: center;
         }

         .eliminate-msg{
             color: #DAD8F3;
             padding:30px;
             text-align:center;
         }

     </style>     

     <div class="invi-clicker" onclick="pushPage('views/7_duel.html')">
     </div>

     
     <div class="wait-msg">
         Waiting For Next Round
     </div>

    <div class="eliminate-msg">
        23 people from your cohort has been eliminated from this challenge
    </div>

<div style="text-align:center;">
<button class="btn-begin" onclick="doublePop()">
    Return to Menu
</button>
</div>
 

</ons-page>