<ons-page id="duel">

    <!-- <style>
        .header{
            display:flex;
            margin:32px;
        }
        .header-title{
            color:#fff;
            font-size:30px;
            font-family:'vgr';
        }
        .header-back{
            height:40px;
            margin-right:30px;
            width:40px;
        }
        .list-img{

        }
    </style>

    <div class="header">
        <div class="header-back">
            <img src="images/leftArrow.svg"/>
        </div>
        
        <div class="header-title">
            Choose to Duel
        </div>
    </div>

    <div class="divider">

    </div>

<ons-list>
    <ons-list-item tappable>
        <img class="list-img" src="images/leftArrow.svg"/>
        <div></div>
    </ons-list-item>
</ons-list> -->
     <div class="invi-clicker" onclick="pushPage('views/9_elim.html')">
     </div>


</ons-page>